<!DOCTYPE html>
<html>
  <head>
    <title>MonostackTest</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body ng-app="monostackTest">
    <div ng-include="'nav/_nav.html'"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ui-view></ui-view>
        </div>
      </div>
    </div>
  </body>
</html>
